@mixin display-flex(
  $justify: flex-start,
  $align: flex-start,
  $direction: row,
  $wrap: wrap,
  $flex-type: flex
) {
  display: $flex-type;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin reset-button-styles() {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
